{
    "presets": [
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-syntax-dynamic-import",
        "babel-plugin-jsx-remove-data-test-id" // Optional for React Testing Library
    ]
}